aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
discordsdk==2.5
idna==3.1
multidict==5.1.0
typing-extensions==3.7.4.3
yarl==1.6.3
flask-discord-interactions

click==8.0
Flask==2.0
Flask-Cors==3.0.10
itsdangerous==2.0
Jinja2==3.0
MarkupSafe==2.0
requests==2.27
six==1.16
Werkzeug==2.0
wheel==0.37
